# ======================================
# Dependencies
# ======================================
node_modules/
.pnp.*

# ======================================
# Yarn (Berry v4+)
# ======================================
.yarn/cache/
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ======================================
# Next
# ======================================
.next/
next-env.d.ts


# ======================================
# Environment Variables
# ======================================
.env
.env.local
.env.*.local
.env.development
.env.production